.friend {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.friend__avatar {
    width: 50px;
    border-radius: 35%;    
}

.friend__avatar .g-avatar {
    width: 70px;
}